<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>John Doe</mat-card-title>
        <mat-card-subtitle>Algebra II</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3 class="weight500">Parent Contact Information</h3>
       <p class="indent"><i class="material-icons content-icon color-base icon-sm">email</i>parent@email.com</p>
       <p class="indent"><i class="material-icons content-icon color-base icon-sm">phone</i>999-999-999</p>
    </mat-card-content>
    <!-- <mat-card-actions align="start">
        <button mat-button>Record Session</button>
    </mat-card-actions> -->
</mat-card>
