<mughub-headnav
title="{{ isEditMode ? 'Edit student' : 'Add student' }}"
iconLeft="close"
(leftIconToggled)="closeDrawer()"
iconRight="done"
(rightIconToggled)="updateRoster()"
[enableIconRight]="studentForm.valid"></mughub-headnav>

<div class="gutter-sm">
  <form *ngIf="studentForm" [formGroup]="studentForm">

    <!-- Profile Info -->
    <p class="drawer-form-label" style="vertical-align: middle;">
      <i class="material-icons drawer-form-icon">person</i>
      {{'Student Profile' | uppercase }}
    </p>
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field  class="widthHalfPer">
        <input type="text" matInput formControlName="firstName" placeholder="First name" class="drawer-form-input">
      </mat-form-field>
      <mat-form-field class="widthHalfPer">
        <input type="text" matInput formControlName="lastName" placeholder="Last name" class="drawer-form-input">
      </mat-form-field>
    </div>
    <!-- <mat-form-field fxFill>
      <input type="text" matInput formControlName="subjects" placeholder="Subjects" class="drawer-form-input">
    </mat-form-field> -->
    <!-- <app-input-autocomplete formControlName="subjects" [formLabel]="'Subject'"></app-input-autocomplete> -->

    <!-- Grade Level -->
    <!-- <p class="drawer-form-label" style="vertical-align: middle;">
      <i class="material-icons drawer-form-icon">class</i>
      {{'Grade Level' | uppercase }}
    </p> -->
    <div class="example-container">
      <mat-form-field class="widthFullPer">
        <mat-label>Select Grade Level</mat-label>
        <mat-select formControlName="gradeLevel">
          <mat-option label=" "></mat-option>
          <mat-option value="elementary">Elementary School</mat-option>
          <mat-option value="middle">Middle School</mat-option>
          <mat-option value="high">High School</mat-option>
          <mat-option value="adult">Adult Learner</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <br>

   <!-- Parent Information -->
   <p class="drawer-form-label" style="vertical-align: middle;">
    <i class="material-icons drawer-form-icon">contact_page</i>
    {{'Parent/Guardian Information' | uppercase }}
  </p>
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field  class="widthHalfPer">
      <input type="text" matInput formControlName="parentFirstName" placeholder="First name" class="drawer-form-input">
    </mat-form-field>
    <mat-form-field class="widthHalfPer">
      <input type="text" matInput formControlName="parentLastName" placeholder="Last name" class="drawer-form-input">
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field class="widthHalfPer">
      <input type="text" matInput formControlName="parentEmail" placeholder="Email (optional)" class="drawer-form-input">
    </mat-form-field>
    <mat-form-field class="widthHalfPer">
      <input type="text" matInput formControlName="parentPhone" placeholder="Phone Number" class="drawer-form-input">
    </mat-form-field>
  </div>

    <br>

    <!-- Subjects -->
    <p class="drawer-form-label" style="vertical-align: middle;">
      <i class="material-icons drawer-form-icon">school</i>
      {{'School Subjects' | uppercase }}
    </p>
    <div fxLayout="column" fxLayoutAlign="space-between center">
      <br *ngIf="subjects.length">
      <mat-card *ngFor="let subject of subjects; let idx = index" class="widthFullPer drawer-list-item background-eee" fxLayout="row" fxLayoutAlign="space-between center">
        <span>{{ subject.subject }} ({{ subject.tutor }})</span>
        <i
        (click)="removeSubject(idx)"
        class="material-icons cursor-pointer"
        style="color: red;"
        matRipple
        [matRippleCentered]="centered">close</i>
      </mat-card>
    </div>

    <br>

    <!-- Add a subject -->
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div style="width: 80%">
        <mat-form-field class="widthHalfPer">
          <input #subjectName type="text" matInput placeholder="Subject" class="drawer-form-input">
        </mat-form-field>
        <mat-form-field class="widthHalfPer">
          <input #subjectTutor type="text" matInput placeholder="Tutor" class="drawer-form-input">
        </mat-form-field>
      </div>
      <button (click)="addSubject()" class="action-button-stroked" color="accent" mat-stroked-button>
        <span>ADD</span>
      </button>
    </div>

    <br>

    <!-- Login Credentials  -->
    <p class="drawer-form-label">
      <i class="material-icons drawer-form-icon">lock</i>
      {{'credentials' | uppercase}}
    </p>

    <br>
    <p *ngIf="!isEditMode">*A username will be automatically generated</p>

    <mat-form-field  *ngIf="isEditMode" fxFill>
        <input type="text" matInput placeholder="Username (Cannot be changed)" class="drawer-form-input-disabled" value="{{ studentToEdit.username }}" disabled>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field class="widthHalfPer">
        <input type="text" matInput formControlName="email" placeholder="Email (optional)" class="drawer-form-input">
      </mat-form-field>
      <mat-form-field class="widthHalfPer">
        <input type="text" matInput formControlName="password" placeholder="Password" class="drawer-form-input">
      </mat-form-field>
    </div>

    <div *ngIf="isEditMode" fxLayout="row" fxLayoutAlign="right" class="drawer-form-input">
      <mat-slide-toggle matInput formControlName="active" class="app-font"><span style="vertical-align: middle;">Active student</span></mat-slide-toggle>
    </div>

    <br>

    <!-- <mat-form-field fxFill>
      <input type="text" matInput formControlName="email" placeholder="Email (optional)" class="drawer-form-input">
    </mat-form-field> -->

  </form>
</div>
