<div *ngIf="screenWidth <= 300" fxLayout="row" fxLayoutAlign="space-between center" style="margin: 20px">
  <span></span>
  <i class="material-icons sideDrawer-close-btn" (click)="onClose()" style="cursor: pointer">close</i>
</div>

<div fxLayout="column" fxLayoutAlign="space-between center" class="sideDrawer-content widthFullPer">

  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="profile-image-container profile-image-border" [ngStyle]="{'background-image': 'url(../../../../../assets/images/sunflowers.jpg)'}"></div>
    <!-- <fa-icon *ngIf="navUserIcon" class="icon-md" [icon]="['fas', navUserIcon]"></fa-icon> -->
    <br>
    <p class="profile-name">Welcome, {{ user.firstName }}!</p>
  </div>

  <div class="widthFullPer" fxLayout="column" fxLayoutAlign="start start">
    <div *ngFor="let link of navLinks" class="widthFullPer" (click)="navigate(link)" >
      <div fxLayout="row" fxLayoutAlign="start center" class="sideDrawer-links" matRipple>
        <fa-icon *ngIf="link.faIcon" fxLayout="row" fxLayoutAlign="center center"  [icon]="['fas', link.faIcon]"></fa-icon>
        <i *ngIf="link.maIcon" fxLayout="row" fxLayoutAlign="center center" class="material-icons">{{ link.maIcon }}</i>
        <div fxLayout="row" fxLayoutAlign="center center">{{ link.name }}</div>
      </div>
    </div>
    <!-- logout button (all views) -->
    <div *ngIf="includeLogout" class="widthFullPer" (click)="logout()">
      <div fxLayout="row" fxLayoutAlign="start center" class="sideDrawer-links" matRipple>
        <fa-icon fxLayout="row" fxLayoutAlign="center center" [icon]="['fas', 'sign-out-alt']"></fa-icon>
        <div fxLayout="row" fxLayoutAlign="center center">Logout</div>
      </div>
    </div>
  </div>

  <!-- <div fxLayout="column" fxLayoutAlign="center center">
    <div class="profile-image-container profile-image-border" [ngStyle]="{'background-image': 'url(' + user.photoUrl + ')'}"></div>
    <p class="profile-name">{{ user.name | uppercase }}</p>
  </div> -->

  <img class="logo" src="assets/images/mughub_logo_horizontal_onDark.png">

</div>
