.sideDrawer-content {
  height: 100%;
  width: 100%;
  padding: 20px 0px;
}

.profile-name {
  color: #ffffff;
  font-size: 19px;
  font-weight: 500;
}

.sideDrawer-links {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding-left: 55px;
  font-weight: 400;
  cursor: pointer;
  width: 100%;
  height: 50px;
}

.sideDrawer-sublinks {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: -10px 0px;
  cursor: pointer;
}

.sideDrawer-link-icon {
  color: #ffffff;
  margin-right: 20px;
  font-size: 21px;
}

.sideDrawer-links-text {
  width: 100%;
}

.link-active {
  /* background-color: #ffffff;
  color: #2b5570; */
  text-decoration: underline;
}

.logo {
  width: 180px;
  margin-bottom: 10px;
  padding: 0px 25px;
}

@media only screen and (max-width: 300px) {
  /* ::ng-deep .mat-list-item-content {
    padding: 0px 120px !important;
  } */
}
