
tr.mat-row:hover {
  box-shadow:#e9e9e9 0px 10px 10px 0px;
  background-color: #F1F1F1;
  cursor: pointer;
}

.col-width {
  display:inline-block;
  min-width: 100px;
  max-width: 200px;
  width: auto;
}

:host ::ng-deep .mat-stroked-button {
  border: 1px solid #ea9103 !important;
}

:host ::ng-deep .mat-tab-label .mat-tab-label-content {
  font-family: 'Montserrat', sans-serif !important;
  color: #30546c !important;
}

:host ::ng-deep .mat-tab-label {
  color: #30546c !important;
}

